@page
@model vezba.Pages.Flights.CreateModel
@{ ViewData["Title"] = "Save flight";
}
@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
<form method="post">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">From</label>
		<div class="col-sm-6">
			<div class="input-group mb-0">
			  <select  name="from" class="form-select " id="inputGroupSelect01">
				<option selected="">Select city</option>
				<option value="Beograd">Beograd</option>
				<option value="Niš">Niš</option>
				<option value="Kraljevo">Kraljevo</option>
				<option value="Priština">Priština</option>
			  </select>
			</div>
				</div>

	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">To</label>
		<div class="col-sm-6">
			<div class="input-group mb-0">
			  <select  name="to" class="form-select" id="inputGroupSelect01">
				<option selected="">Select city</option>
				<option value="Beograd">Beograd</option>
				<option value="Niš">Niš</option>
				<option value="Kraljevo">Kraljevo</option>
				<option value="Priština">Priština</option>
			  </select>
			</div>

		</div>

	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Date and time</label>
		<div class="col-sm-6">
			<input type="datetime-local" class="form-control" name="date" value="">

		</div>

	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">stops</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="stops" value="">

		</div>

	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Capacity</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="capacity" value="">

		</div>

	</div>
	@if (Model.successMessage.Length > 0) {
			<div class="row mb-3">
			

				<div class="col-sm-9">
				<div class='alert alert-success alert-dismissible fade show' role='alert'>
				<strong>@Model.successMessage</strong>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
				</div>
				</div>
				</div>
}
	
	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>

		</div>
		<div class="col-sm-3 d-grid">
			<a href="/Flights" class="btn btn-outline-primary" role="button">Cancel</a>

		</div>

	</div>
</form>
